body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #0b0f1a;
color: white;
text-align: center;
}

header {
background: linear-gradient(90deg, #ff0099, #6a00ff);
padding: 20px;
}

h1 {
margin: 0;
text-shadow: 0 0 10px #ff0099;
}

.slogan {
font-style: italic;
}

nav a {
color: white;
margin: 0 10px;
text-decoration: none;
font-weight: bold;
}

section {
padding: 30px;
border-bottom: 1px solid #222;
}

.container {
display: flex;
justify-content: center;
position: relative;
}

#fleche {
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
font-size: 30px;
}

canvas {
border: 3px solid #ff0099;
border-radius: 50%;
}

button {
background-color: #ff0099;
color: white;
border: none;
padding: 10px;
margin: 5px;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background-color: #ff33aa;
}

input, select {
padding: 8px;
}

.compteur {
color: #ffcc00;
}

.resultat {
font-size: 20px;
color: #00ffea;
}

.timer {
font-size: 40px;
margin: 10px;
color: #00ffea;
}

.scoreboard {
display: flex;
justify-content: center;
gap: 50px;
}

.scoreboard div {
background: #111;
padding: 20px;
border: 2px solid #ff0099;
border-radius: 10px;
}
.page {
display: none;
}

.page.active {
display: block;
}


